#pauseOption{
	-fx-background-image:url("image/ÔÝÍ£±³¾°.png");
}
#back{
	-fx-background-color:null;
	-fx-text-fill:white;
	-fx-font-family:"Arival Black";
	-fx-font-size:30;
	-fx-font-weight:bold;
	-fx-effect:dropshadow(three-pass-box,rgba(0,0,0,0.6) , 5, 0.0 ,0, 1);
}
#restartGame{
	-fx-background-color:null;
	-fx-text-fill:white;
	-fx-font-family:"Arival Black";
	-fx-font-size:30;
	-fx-font-weight:bold;
	-fx-effect:dropshadow(three-pass-box,rgba(0,0,0,0.6) , 5, 0.0 ,0, 1);
}

#continueGame{
	-fx-background-color:null;
	-fx-text-fill:white;
	-fx-font-family:"Arival Black";
	-fx-font-size:30;
	-fx-font-weight:bold;
	-fx-effect:dropshadow(three-pass-box,rgba(0,0,0,0.6) , 5, 0.0 ,0, 1);
}
